services:
  app:
    build:
      context: .
      dockerfile: dev.Dockerfile
    depends_on:
      - db
    environment:
      - RAILS_ENV=development
      - POSTGRES_HOST=${ENV_POSTGRES_HOST}
      - POSTGRES_DB=${ENV_POSTGRES_DEV_DB}
      - POSTGRES_USER=${ENV_POSTGRES_USER}
      - POSTGRES_PASSWORD=${ENV_POSTGRES_PASSWORD}  
    ports:
      - "3000:3000"
    volumes:
      - .:/app  # Bind mount for live reload
    # Remove the command override
    # command: bash -c "rm -f tmp/pids/server.pid && bundle exec rails s -b '0.0.0.0'"

  db:
    image: postgres:15
    environment:
      - POSTGRES_DB=${ENV_POSTGRES_DEV_DB}
      - POSTGRES_USER=${ENV_POSTGRES_USER}
      - POSTGRES_PASSWORD=${ENV_POSTGRES_PASSWORD}
    volumes:
      - postgres_data:/var/lib/postgresql/data
      - /home/robert/aquinasbackup/:/backups
    ports:
      - "5432:5432"

volumes:
  postgres_data: