<div class="latin-display-options domain-field" id="latin-display-options">
  <div class="float-left">
    
    <h3>Latin Display</h3>
    
  
  <div id="latin-toggle">
  <label>
    <input type="radio" name="latin-display" value="show" checked>
    Show Latin
  </label>
  <label>
    <input type="radio" name="latin-display" value="hide">
    Hide Latin
  </label>
</div>
</div>
</div>
