<script nonce="<%= content_security_policy_nonce %>">
  //console.log("s");
</script>
<div class="user-header">
  <div class="dominican-logo"></div>
  <div class="thomas-header"> St. Thomas <br> The Search Engine </div>
  <%= render 'users/login_status', current_user: current_user %>

</div>