  <div class="menu-div">
    <div  class="menu-tab-container"><div class="menu-tab-search"  onclick="ShowSearchResults()" > </div></div>
    <div  class="menu-tab-container"><div class="menu-tab-groups"   onclick="ShowGroupResults()" > </div></div>
    <div  class="menu-tab-container"><div class="menu-tab-help"   onclick="ShowHelp()" > </div></div>
    <div  class="menu-tab-container"><div class="menu-tab-dominicans"   onclick="ShowDominicans()" > </div></div>
  </div>